{% autoescape off %}

Dear {{seeker.first_name}},

We were all very excited to meet and get to know you over the past few days. We have been impressed with your background and would like to formally offer you the position of {{position}}. This is a {{job.job_type}} time position 8 hours. That means that either you or {{recruiter.company.company_name}} are free to end the employment relationship at any time, with or without notice or cause.]


Your expected starting date is {{join_data}} You will be asked to sign a contract of 2 years and  at the beginning of your employment.

We would like to have your response by {{date}} In the meantime, please feel free to contact me or via email or phone , should you have any questions.
We are offering ₹{{salary}}
We are all looking forward to having you on our team.

Best regards,

{{recruiter.recruiter.first_name}}




{% endautoescape %}